In [1]:
import os

import utils

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
%load_ext autoreload
%autoreload 2

# Dataset

- Performance of EPFL Students on the courses 

- 6562 students
- 36 courses
- 7 semesters
- 17490 grades

In [2]:
(data, courses) = utils.getSQLData()
data.head(10)

   StudentID  CourseID   ExamDate  Grade  Result
0       6542        20 2013-07-01    6.0       1
1       1280        14 2013-07-01    6.0       1
2       1279        14 2013-07-01    4.0       1
3       1278        14 2013-07-01    5.0       1
4       1277        14 2013-07-01    5.0       1
5       1276        14 2013-07-01    4.5       1
6       1275        14 2013-07-01    3.5       0
7       1274        14 2013-07-01    3.0       0
8       1273        14 2013-07-01    4.5       1
9       1272        14 2013-07-01    3.0       0

# Fitting the LFA model

In [3]:
from model import *

model = ModelLFA()
model.fit(data[['StudentID', 'CourseID', 'ExamDate', 'Result']].values)

In [4]:
subset = { 'EE-100', 'EE-102', 'PHYS-101', 'PHYS-106', 'MATH-111', 'MATH-150', 'CS-112', 'CIVIL-123', 'CS-111', 'CIVIL-122', 'ENV-140',  }
l = len(subset)
activities = [ a for a in model.activities.values() if courses[a.id] in subset ]

utils.generateGraph('G1', activities, courses, lambda a,b,i: (1e-2 * a.activityListC[b]), 'yellow')
utils.generateGraph('G2', activities, courses, lambda a,b,i: (25e-1 * a.params[i]), 'red')

In [5]:
s = { 'CS-111', 'CIVIL-123', 'PHYS-106' }

for a in model.activities.values():
    if courses[a.id] in s:
        print('<<<', courses[a.id], '>>>')
        for i, b in enumerate(a.activityList):
            if courses[b] in s:
                print('\t', courses[b], '\t', a.params[i])
        print('\t', 'beta', '\t\t', a.params[-1])
        print('-----------------------------------------------')

<<< PHYS-106 >>>
	 CS-111 	 -0.490221901853
	 CIVIL-123 	 0.0537361937864
	 beta 		 -0.259542863475
-----------------------------------------------
<<< CS-111 >>>
	 PHYS-106 	 0.238293403694
	 beta 		 0.762709979149
-----------------------------------------------
<<< CIVIL-123 >>>
	 PHYS-106 	 3.01727456526
	 CS-111 	 7.59255795012
	 beta 		 -0.405257935965
-----------------------------------------------

# Testing Optimizer with simulations